body {
	background: #DFDFDF url('../assets/background.jpg');
}

#main #header {
	margin-bottom: 10px
}

h1 {
	font: 72px 'Georgia', Arial, sans-serif;
	color: #0061A5;
	text-shadow: 0 1px #F7F7F7;
	text-align: center;
}

#main {
	position: relative;
	padding-top: 8%;
}

#main #content {
	position: relative;
	margin: 0 auto 0 auto;
	width: 600px;
	background: white;
	border: solid 3px #F2F2F2;
	-moz-box-shadow: 0 0 0 1px #bfbfbf, 0 0 10px rgba(0,0,0,.30);
	-webkit-box-shadow: 0 0 0 1px #BFBFBF, 0 0 10px rgba(0, 0, 0, .30);
	box-shadow: 0 0 0 1px #BFBFBF, 0 0 10px rgba(0, 0, 0, .30);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}

#main #header h1 img.icon {
	position: relative;
	width: 50px;
	height: 51px;
	top: 8px;
	padding-right: 11px;
}

#main #content p {
	position: relative;
	color: #8E8E8E;
	font: 13px 'Helvetica', Arial, Sans-serif;
	padding: 0 30px 0px 30px;
}

#main #content h2 {
	background: url('../assets/title-bottom.jpg') no-repeat;
	background-position: bottom;
	padding: 0 0 28px 0;
	font: 20px 'Georgia', Arial, sans-serif;
	color: #8E8E8E;
	text-align: center;
}


	font: 13px 'Helvetica', Arial, Sans-serif;a {
	display: inline-block;
	cursor: pointer;
	padding: 8px 14px;
	margin-left: 30px;
	background: #006DB0;
	background-image: linear-gradient(to bottom, #0062A6 0%, #0079BB 100%);
	-moz-box-shadow: 0 1px #00acd8 inset;
	-webkit-box-shadow: 0 1px #00ACD8 inset;
	box-shadow: 0 1px #00ACD8 inset;
	border: solid 1px #003255;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px #00385A;
	text-decoration: none;
}

a:hover {
	background: #0081C6;
	background-image: linear-gradient(to bottom, #006FBB 0%, #008DCE 100%);
	-moz-box-shadow: 0 1px #00c1e4 inset;
	-webkit-box-shadow: 0 1px #00C1E4 inset;
	box-shadow: 0 1px #00C1E4 inset;
}

